{% include 'navbar.html' %}
<a href="{% url 'profile' post.author.id %}">@{{post.author}}</a><br>
<a>
    {{post.title}}
</a>
<br>
{% if post.image %}
<img src="{{post.image.url}}" />
{% endif %}
<p>{{post.content}}</p>
<small>{{post.date|timesince}}</small>
<hr>
{% if user.is_authenticated %}
<h6>  {{post.comment_set.count}} comments </h6>
<form method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
    <button>Comment</button>
</form>
{% else %}
<strong>you must create a account if you want to comment</strong>
{% endif %}
{% for comment in post.comment_set.all %}
    <br>
    <a href="{% url 'profile' comment.user.id %}">@{{ comment.user }}</a> <a>{{comment.date|timesince}}</a>
    <p>{{ comment }}</p>
    <hr>
    
{% endfor %}
