<div>
<h1>all updates</h1>
<div>
    <h4>update 1:</h4><small>2023/10/28</small>
    <li>added register and login</li>
    <li>added user posting</li>
</div>
<div>
    <h4>update 2:</h4><small>2023/11/20</small>
    <li>added like post</li>
    <li>added views post</li>
    <li>added comment post</li>
    <li>updated design</li>
</div>
<div>
    <h4>update 3:</h4><small>2024/01/12</small>
    <li>added user profile form</li>
    <li>updated navbar</li>
    <li>added search form</li>
</div>
<div>
    <h4>update 4:</h4><small>2024/02/2</small>
    <li>updated user profile</li>
    <li>added bio to profile</li>
</div>
<div>
    <h4>update 5:</h4><small>2024/02/14</small>
    <li>added follow/following form</li>
    <li>added update post</li>
</div>
<div>
    <h4>update 6:</h4><small>2024/02/14</small>
    <li>added delete post</li>
</div>
<h1>incoming updates</h1>
<div>
    <h4>update 7:</h4><small>2024/03/20</small>
    <li>chat rooms</li>
    <li>topics for chat rooms</li>
    <li>the desgin will look better</li>
    <li>post topics</li>
    <li>coming soon languages Arabic, Spanish, Rssain</li>
</div>
<div>
    <h4>update 8:</h4><small>2024/4/1</small>
    <h5>design will look like twitter</h5>
</div>
</div>